<div class="col-6">
  <%= form_with(model: @money_transaction) do |form| %>
    <% if @money_transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@money_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @money_transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row mb-3">
      <%= form.label :amount_value %>
      <%= form.number_field :amount_value, class: "form-control" %>
    </div>
    <% if @money_transaction.new_record?%>
      <div class="form-group row mb-3">
        <%= form.label 'Category'%>
        <%= form.collection_select(:person_category_id, PersonCategory.where(person_id: @people), :id, :select_title, {}, {required: true, class: "form-control"})%>
      </div>
      <div class="form-group row mb-3">
        <%= form.label 'Text your note' %>
        <%= form.text_field :body, class: "form-control" %>
      </div>
    <% else %>
      <% if !@money_transaction.note %>
        <div class="form-group row mb-3">
          <%= form.label 'Text your note' %>
          <%= form.text_field :body, class: "form-control" %>
        </div>
      <% end %>
        <div class="form-group row mb-3">
          <%= form.hidden_field :person_category_id %>
        </div>
    <% end%>

  <div class="form-group row mb-3 justify-content-start">
    <%= form.submit class: "btn btn-outline-success col-4" %>
  </div>
  <% end %>
</div>
