<h1 class="mb-3"> Transaction details </h1>
<div class="row">
    <div class="col-6">
      <div class="card mb-3 text-center">
        <h5 class="card-header"><%= @person.name %> - <%= @money_transaction.amount_value %> EUR</h5>
        <div class="card-body">
          <h5 class="card-title"><%= @category.name %> - <%= @category.transaction_type %></h5>
          <% if @note %>
            <p class="card-text">Note: <%= @note.body%></p>
            <%= link_to "Edit note", edit_note_path(@note) %> |
            <%= link_to "Delete note", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %>
          <% else %>
            No notes yet...  
          <%end%>
        </div>
        <div class="card-footer text-muted">
          Created: <%= @money_transaction.created_at %>
        </div>
      </div>
      <div class="transaction_btns">
        <%= link_to 'Edit transaction', edit_money_transaction_path(@money_transaction) %> |
        <%= link_to 'Back to person transaction list', person_path(@money_transaction.person_category.person_id) %>
      </div>
    </div>   
</div>