<% if obj.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Transactions <sup>*</sup></th>
        <th scope="col"> Total summ<th>
      </tr>
    </thead>
    <tbody>
      <% obj.each do |person_category|%>
      <tr>
        <td>
          <div class="badge rounded-pill <%= person_category.category.transaction_type == 'Debit' ? 'bg-success' : 'bg-danger' %>">
            <%= link_to person_category.category.name, category_path(person_category.category), class: "link-light"%>
          </div>
        </td>
        <td>
          <% if person_category.money_transactions.any? %>
            <ul class="list-reset">
              <% person_category.money_transactions.order(important: :desc, created_at: :asc).each do |transaction|%> 
                <li>

                  <% if transaction.important %>
                    <i class="bi bi-exclamation-circle-fill text-danger"></i> 
                  <% else %>
                    <i class="bi bi-exclamation-circle-fill opacity-0"></i> 
                  <% end %>

                  <% if transaction.note%>
                    <i class="bi bi-sticky-fill"></i>
                  <% else%>
                    <i class="bi bi-sticky"></i>
                  <%end%>

                  <span class="badge bg-primary"><%=  transaction.amount_value %></span> 
                  <span> Date: <%=  transaction.created_at.to_formatted_s(:short) %> </span>
                  <%= link_to 'Update', edit_money_transaction_path(transaction) %> |
                  <%= link_to 'Delete', money_transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' } %> |
                  <%= link_to 'Details', money_transaction_path(transaction) %>
                </li>
              <%end%>
            </ul>
          <% else %>
            None
          <% end %>
        </td>
        <td>
          <% if person_category.category.transaction_type == 'Credit' %>
            - <%= person_category.money_transactions.sum(&:amount_value) %>
          <% else %>
            + <%= person_category.money_transactions.sum(&:amount_value) %>
          <% end %>
        <td>
      <tr>
      <% end %>
    </tbody>
  </table>
  <div>
   <ul class="list-reset">
    <li>*</li>
    <li><i class="bi bi-exclamation-circle-fill text-danger"></i> - important transaction</li>
    <li><i class="bi bi-sticky-fill"></i> - transaction with note </li>
    <li><i class="bi bi-sticky"></i> - transaction without note </li>
   </ul>
  </div>
<% else %>
  <p> No categories yet ... <p>
<% end %>