<h1>Hi, <%= current_user.name %></h1>

<p> Select person to track </p>


<div  class="row">
  <%= form_with(class: 'col-4 mb-4', method: 'get') do |form| %>
    <%= form.collection_select(:person_id, @people.order(:name), :id, :name,
                                { include_blank: 'Please select' }, 
                                { class: 'form-select mb-3 col-2' }) %>
    <%= form.submit 'Choose', class: "btn btn-outline-success"%>
  <% end %>
</div>

<div class="row mb-3">
  <h2> All categories: </h2>
  <div class="col-4">
    <% @categories.each do |category|%>
      <div class="badge rounded-pill <%= category.transaction_type == 'Debit' ? 'bg-success' : 'bg-danger' %>">
        <%= link_to category.name, category_path(category), class: "link-light"%>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <%= link_to '<i class="bi bi-cash-coin pe-2"></i> Add new transaction'.html_safe, new_money_transaction_path, class: "btn btn-outline-success"%>
  </div>
</div>
