<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_value %>
    <%= form.number_field :amount_value %>
  </div>
  <% if transaction.new_record?%>
    <div class="field">
      <%= form.label :person_category_id %>
      <%= form.collection_select(:person_category_id, PersonCategory.where(person_id: @people), :id, :category, {}, {required: true})%>
    </div>
  <% else %>
      <div class="field">
        <%= form.hidden_field :person_category_id %>
    </div>
  <% end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
